// media query
@mixin large {
    /* Large Devices, Wide Screens */
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    /* Medium Devices, Desktops */
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    /* Small Devices, Tablets */
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin smartphone {
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin phone {
    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        @content;
    }
}