@import 'variables';
@import 'mixins';

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.yv-site {
  width: 100%;
  height: 100%;
  background: $white;

  .yv-main-head {
    background: url('../images/yana-valentina-background-header.jpg') no-repeat center;
    background-size: 100% 100%;
    height: 55%;

    @include smartphone {
      height: 60%;
    }

    .yv-logo {
      position: absolute;
      width: 20%;
      left: 4%;

      @include smartphone {
        width: 100%;
        left: 0%;
        text-align: center;
      }

      img {
        width: 100%;

        @include smartphone {
          width: 50%;
        }
      }
    }

    .yv-main-menu {
      position: absolute;
      width: 80%;
      right: 0%;
      top: 4%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.35));

      @include smartphone {
        top: 35%;
        width: 100%;
        left: 0%;
        background: rgba(255, 255, 255, 0.25);
      }

      .yv-menu {
        float: left;
        width: 55%;
        text-align: right;
        padding: 2%;

        @include smartphone {
          width: 100%;
          text-align: center;
          margin-top: -35px;
        }

        a {
          font-family: $fonts;
          font-size: 20px;
          margin: 0% 4%;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;

          @include smartphone {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin: 0% 1%;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      .yv-option {
        width: 45%;
        float: left;
        text-align: center;

        @include smartphone {
          width: 100%;
          text-align: center;
          padding-bottom: 1%;
        }

        p {
          margin: 8px 0px;
          font-family: $fonts;
          @include smartphone{
            margin: 1% 0%;
          }
        }

        a {
          background: $secondary;
          padding: 0.8%;
          border-radius: 4px;
          font-family: $fonts;
          font-size: 16px;
          margin: 0% 2%;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .yv-main-body {
    background: $white;
    height: 45%;
    @include smartphone{
      height: 25%;
    }

    .yv-main-slogan {
      .yv-slogan {
        position: absolute;
        width: 30%;
        left: 5%;
        text-align: right;
        margin-top: 2%;
        @include smartphone{
          width: 90%;
          left: 0%;
          text-align: right;
         top: 76%;
        }

        p {
          font-family: $fonts;
          word-spacing: 0.3em;
          font-size: 22px;
          color: $red;
          margin: 0px;

          @include large {
            font-size: 18px;
          }
          @include smartphone{
            font-size: 14px;
          }
        }
      }

      .yv-slogan-slide {
        box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.05), 0 19px 38px 0 rgba(32, 33, 36, 0.04);
        position: absolute;
        width: 55%;
        background: $white;
        right: 7%;
        top: 18%;
        border-radius: 4px;

        @include smartphone {
          top: 45%;
          width: 90%;
          left: 5%;
        }
      }
    }

    .yv-main-slide {
      background: $primary;
      position: absolute;
      width: 100%;
      bottom: 6%;
      left: 0px;
      padding: 1% 0%;
      @include smartphone{
        padding:2% 4%;
      }

      .yv-detail-slide {
        width: 85%;
        margin: auto auto;
        @include smartphone{
          width: 100%;
        }
      }
    }
  }

  .yv-main-footer {
    position: absolute;
    background: url('../images/yana-valentina-background-footer.jpg') no-repeat center;
    background-size: 100% 100%;
    height: 5%;
    width: 100%;
    bottom: 0px;
  }
}

.owl-nav {
  display: none;
}

.swiper-container {
  height: 350px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  border-width: 8px;
  @include smartphone{
    height: 200px;
  }
}

.swiper-wrapper {
  transition-duration: 0ms;
  transform: translate3d(0px, -364px, 0px);
}