html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

.yv-site {
  width: 100%;
  height: 100%;
  background: #ffffff; }
  .yv-site .yv-main-head {
    background: url("../images/yana-valentina-background-header.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 55%;
    /* Extra Small Devices, Phones */ }
    @media only screen and (max-width: 480px) {
      .yv-site .yv-main-head {
        height: 60%; } }
    .yv-site .yv-main-head .yv-logo {
      position: absolute;
      width: 20%;
      left: 4%;
      /* Extra Small Devices, Phones */ }
      @media only screen and (max-width: 480px) {
        .yv-site .yv-main-head .yv-logo {
          width: 100%;
          left: 0%;
          text-align: center; } }
      .yv-site .yv-main-head .yv-logo img {
        width: 100%;
        /* Extra Small Devices, Phones */ }
        @media only screen and (max-width: 480px) {
          .yv-site .yv-main-head .yv-logo img {
            width: 50%; } }
    .yv-site .yv-main-head .yv-main-menu {
      position: absolute;
      width: 80%;
      right: 0%;
      top: 4%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
      /* Extra Small Devices, Phones */ }
      @media only screen and (max-width: 480px) {
        .yv-site .yv-main-head .yv-main-menu {
          top: 35%;
          width: 100%;
          left: 0%;
          background: rgba(255, 255, 255, 0.25); } }
      .yv-site .yv-main-head .yv-main-menu .yv-menu {
        float: left;
        width: 55%;
        text-align: right;
        padding: 2%;
        /* Extra Small Devices, Phones */ }
        @media only screen and (max-width: 480px) {
          .yv-site .yv-main-head .yv-main-menu .yv-menu {
            width: 100%;
            text-align: center;
            margin-top: -35px; } }
        .yv-site .yv-main-head .yv-main-menu .yv-menu a {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
          margin: 0% 4%;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          /* Extra Small Devices, Phones */ }
          @media only screen and (max-width: 480px) {
            .yv-site .yv-main-head .yv-main-menu .yv-menu a {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 14px;
              margin: 0% 1%;
              color: #ffffff;
              text-decoration: none;
              text-transform: uppercase; } }
      .yv-site .yv-main-head .yv-main-menu .yv-option {
        width: 45%;
        float: left;
        text-align: center;
        /* Extra Small Devices, Phones */ }
        @media only screen and (max-width: 480px) {
          .yv-site .yv-main-head .yv-main-menu .yv-option {
            width: 100%;
            text-align: center;
            padding-bottom: 1%; } }
        .yv-site .yv-main-head .yv-main-menu .yv-option p {
          margin: 8px 0px;
          font-family: Arial, Helvetica, sans-serif;
          /* Extra Small Devices, Phones */ }
          @media only screen and (max-width: 480px) {
            .yv-site .yv-main-head .yv-main-menu .yv-option p {
              margin: 1% 0%; } }
        .yv-site .yv-main-head .yv-main-menu .yv-option a {
          background: #ff5891;
          padding: 0.8%;
          border-radius: 4px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          margin: 0% 2%;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase; }
  .yv-site .yv-main-body {
    background: #ffffff;
    height: 45%;
    /* Extra Small Devices, Phones */ }
    @media only screen and (max-width: 480px) {
      .yv-site .yv-main-body {
        height: 25%; } }
    .yv-site .yv-main-body .yv-main-slogan .yv-slogan {
      position: absolute;
      width: 30%;
      left: 5%;
      text-align: right;
      margin-top: 2%;
      /* Extra Small Devices, Phones */ }
      @media only screen and (max-width: 480px) {
        .yv-site .yv-main-body .yv-main-slogan .yv-slogan {
          width: 90%;
          left: 0%;
          text-align: right;
          top: 76%; } }
      .yv-site .yv-main-body .yv-main-slogan .yv-slogan p {
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 0.3em;
        font-size: 22px;
        color: #e53935;
        margin: 0px;
        /* Large Devices, Wide Screens */
        /* Extra Small Devices, Phones */ }
        @media only screen and (max-width: 1200px) {
          .yv-site .yv-main-body .yv-main-slogan .yv-slogan p {
            font-size: 18px; } }
        @media only screen and (max-width: 480px) {
          .yv-site .yv-main-body .yv-main-slogan .yv-slogan p {
            font-size: 14px; } }
    .yv-site .yv-main-body .yv-main-slogan .yv-slogan-slide {
      box-shadow: 0 2px 5px 0 rgba(32, 33, 36, 0.05), 0 19px 38px 0 rgba(32, 33, 36, 0.04);
      position: absolute;
      width: 55%;
      background: #ffffff;
      right: 7%;
      top: 18%;
      border-radius: 4px;
      /* Extra Small Devices, Phones */ }
      @media only screen and (max-width: 480px) {
        .yv-site .yv-main-body .yv-main-slogan .yv-slogan-slide {
          top: 45%;
          width: 90%;
          left: 5%; } }
    .yv-site .yv-main-body .yv-main-slide {
      background: #f099ac;
      position: absolute;
      width: 100%;
      bottom: 6%;
      left: 0px;
      padding: 1% 0%;
      /* Extra Small Devices, Phones */ }
      @media only screen and (max-width: 480px) {
        .yv-site .yv-main-body .yv-main-slide {
          padding: 2% 4%; } }
      .yv-site .yv-main-body .yv-main-slide .yv-detail-slide {
        width: 85%;
        margin: auto auto;
        /* Extra Small Devices, Phones */ }
        @media only screen and (max-width: 480px) {
          .yv-site .yv-main-body .yv-main-slide .yv-detail-slide {
            width: 100%; } }
  .yv-site .yv-main-footer {
    position: absolute;
    background: url("../images/yana-valentina-background-footer.jpg") no-repeat center;
    background-size: 100% 100%;
    height: 5%;
    width: 100%;
    bottom: 0px; }

.owl-nav {
  display: none; }

.swiper-container {
  height: 350px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  border-width: 8px;
  /* Extra Small Devices, Phones */ }
  @media only screen and (max-width: 480px) {
    .swiper-container {
      height: 200px; } }

.swiper-wrapper {
  transition-duration: 0ms;
  transform: translate3d(0px, -364px, 0px); }
