@font-face {
    font-family: 'WildernessTypeface';
    src: url('wild/WildernessTypeface-Regular.eot');
    src: url('wild/WildernessTypeface-Regular.eot?#iefix') format('embedded-opentype'),
        url('wild/WildernessTypeface-Regular.woff2') format('woff2'),
        url('wild/WildernessTypeface-Regular.woff') format('woff'),
        url('wild/WildernessTypeface-Regular.ttf') format('truetype'),
        url('wild/WildernessTypeface-Regular.svg#WildernessTypeface-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wild-font {
    font-family: 'WildernessTypeface';
}
.col-pink {
  color:#ED207B;
}
.col-wt {
  color:rgb(255, 255, 255);
}
.no-decoration {
  text-decoration: none !important;
}
.mg-top-min-20 {
  margin-top:-20px !important;
}
.font-lg {
    font-size: 4.2rem !important;
}
.font-xl {
    font-size: 6rem !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
